/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../photos/Fonfo.jpg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos en dispositivos móviles */
}

.card {
    background:linear-gradient(150deg, #ffffff, #a77fe8);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px); /* Dos tarjetas por fila en dispositivos móviles */
    border-radius: 8px;
    transition: transform 0.3s ease;
    border-style: double;
    border-color: #1b1a1a;
}

.card:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 30px; /* Tamaño de fuente reducido para dispositivos móviles */
    -webkit-text-stroke: 1px black; /* Grosor del trazo de texto reducido */
}

h2 {
    color: #333;
}

p {
    color: #666;
}

/* Estilos específicos del dashboard */
.header {
    background: rgb(84, 62, 103);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-style: double;
    border-color: #1b1a1a;
    border-radius: 12px;
}

.sidebar {
    background: linear-gradient(150deg, #8a51a0, #92e7b6);
    color: #1b1a1a;
    padding: 20px;
    width: 100%; /* Ancho completo en dispositivos móviles */
    border-style: double;
    border-color: #1b1a1a;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px); /* Una tarjeta por fila en dispositivos móviles */
    }

    h1 {
        font-size: 24px; /* Tamaño de fuente aún más reducido para dispositivos móviles */
    }
}
